* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(235, 19%, 35%);
  border-radius: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: hsl(235, 21%, 11%);
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  color: hsl(234, 39%, 85%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  overflow-x: hidden;
}
.container {
  width: 35rem;
}
header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  letter-spacing: 1rem;
  font-size: 2.5rem;
  color: white;
}
.theme:hover {
  cursor: pointer;
}
main {
  height: 100%;
  width: 35rem;
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

main .iputField {
  width: inherit;
  padding: 1.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
}
main .iputField.light {
  -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border: 0.1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label .circle.check {
  background-image: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}
label .circle.check::after {
  content: url(../images/icon-check.svg);
}
.line {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}
[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}
[type="checkbox"]:hover {
  cursor: pointer;
}
/* [type="checkbox"]:checked + label .circle {
  background-image: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}
[type="checkbox"]:checked + label .circle::after {
  content: url(../images/icon-check.svg);
}
[type="checkbox"]:hover {
  cursor: pointer;
}
[type="checkbox"]:checked ~ h2 {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
} */

main .iputField .input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 39%, 85%);
}
main .iputField .input:focus {
  outline-width: 0;
  outline-color: transparent;
}
.taskContainer {
  height: 100%;
  max-height: 55vh;
  margin-top: 2rem;
  background-color: hsl(235, 24%, 19%);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
}
.taskContainer.light {
  -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
}
.tasks {
  width: 100%;
  overflow-y: scroll;
}
.task {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 4.5rem;
  border-bottom: 0.01rem solid hsl(235, 19%, 35%);
}
.task.light {
  border-bottom: 0.01rem solid hsl(233, 11%, 84%);
}
.task h2 {
  /* font-weight: 400; */
  font-size: 1.2rem;
}
.task h2:hover {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 2rem;
}
.close:hover {
  cursor: pointer;
}
.footer {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
}
.footer .filter {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .active {
  color: hsl(220, 98%, 61%);
}
.footer a:hover {
  color: hsl(234, 39%, 85%);
}
footer {
  color: hsl(233, 14%, 35%);
  text-align: center;
  line-height: 1.5;
}
footer a {
  color: hsl(234, 11%, 52%);
}
footer a:hover {
  text-decoration: underline;
}
.filter {
  background-color: transparent;
}
.hide {
  display: none;
}
@media screen and (max-width: 425px) {
  body {
    background-image: url(../images/bg-mobile-dark.jpg);
    padding: 1.5rem;
  }
  body.light {
    background-image: url(../images/bg-mobile-light.jpg) !important;
  }
  .container {
    width: 100%;
  }
  main {
    position: relative;
    width: 100%;
    height: 70%;
    top: 0;
    transform: translateY(-10%);
    margin: 0;
  }
  header {
    margin: 0 !important;
    padding: 1.5rem 0rem;
  }
  header h1 {
    font-size: 1.6rem;
  }
  header img {
    scale: 0.9;
  }
  main .iputField {
    width: inherit;
    padding: 1.5rem;
    margin-top: 1.5rem;
    height: 1rem;
    border-radius: 0.3rem;
  }
  main .iputField .input {
    font-size: 0.8rem;
  }
  .taskContainer {
    height: 100%;
    margin: 1rem 0rem;
    border-radius: 0.3rem;
  }
  .task {
    height: 1rem;
    padding: 1.5rem;
  }
  .task h2 {
    font-size: 0.8rem;
  }
  .close {
    scale: 0.9;
  }
  .footer {
    font-size: 0.8rem;
  }
  .filter {
    position: absolute;
    width: 100% !important;
    height: 3rem;
    display: flex;
    justify-content: center !important;
    gap: 1rem;
    align-items: center;
    bottom: -10%;
    right: 0;
    background-color: hsl(235, 24%, 19%);
    -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    font-size: 0.9rem;
  }
  #clear {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
  }
  footer a {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
  }
  .filter.light {
    background-color: hsl(0, 0%, 98%) !important;
  }
}

/* Light theme */
body.light {
  background-color: hsl(236, 33%, 92%);
  background-image: url(../images/bg-desktop-light.jpg);
}
.iputField.light {
  background-color: hsl(0, 0%, 98%);
}
.input.light {
  color: hsl(235, 19%, 35%) !important;
}
.taskContainer.light {
  background-color: hsl(0, 0%, 98%);
}
.task.light .circle {
  border: 0.1rem solid hsl(233, 11%, 84%);
}
.task.light h2 {
  color: hsl(235, 19%, 35%);
}
.task.light .line {
  color: hsl(236, 9%, 61%);
}
.filter.light {
  -webkit-box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.1);
}
.footer.light a:hover {
  color: hsl(235, 19%, 35%);
}

@media screen and (max-height: 600px) {
  .taskContainer {
    max-height: 45vh;
  }
}
@media screen and (min-height: 900px) {
  .taskContainer {
    max-height: 60vh;
  }
}
@media screen and (min-height: 1000px) {
  .taskContainer {
    max-height: 65vh;
  }
}
